'use strict';
{% if bundle_type == BundleType::MainModule %}
((window) => {
  async function mainModule() {
      {{ body }}
  }
  window.mainModule = mainModule;
})(globalThis);
{% else if bundle_type == BundleType::Classic %}
globalThis.mainModule = {{ body }}
{% else %}
{{ body }}
{% endif %}
